# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# IDE settings (VSCode, PyCharm, etc.)
.vscode/
.idea/

# Data files
/data/raw/*
/data/processed/*

# Model and training outputs
*.h5
*.hdf5
model/

# Logs
*.log

# Dependency directories
node_modules/

# Operating System files
.DS_Store
Thumbs.db

# Python egg and distribution directories
.eggs/
dist/
build/
*.egg-info/

# Other
*.zip
*.tar.gz
*.tar.bz2
*.rar
*.7z
